body {
	background: url(../img/landing-page-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;

	section.overlay {
		background: rgba($secondary-color, .5);
		text-align: center;
		@media only screen and (min-width: 40.063em) {
			position: absolute;
		}
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;

		.hero-content {
			padding-top: 50px;
			background: rgba($primary-color, .2);
			margin-top: -50px;
			border-radius: 50%;
			height: 102vh;

			/* Medium Down */
			@media only screen and (max-width: 1200px) {
				background: transparent;
				border-radius: 0;
				height: auto;
			}
			h1 {
				margin-top: 8%;
				font-weight: 200;
				color: $primary-color;
				margin-bottom: 50px;


				span {
				  position: relative;
				  padding-bottom: 5px;
				  &:after {
				    position: absolute;
				    left: 0;
				    bottom: 0;
				    width: 117%;
				    height: 1px;
				    border-bottom: 1px solid $primary-color;
				    content: "";

					/* Medium Up */
					@media only screen and (min-width: 555px) {
						width: 100%;
					}

					/* Medium Only */
					@media only screen and (min-width: 467px) and (max-width: 554px) {
						width: 169%;
					}


				  }
				  &:before {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 117%;
				    height: 1px;
				    border-top: 1px solid $primary-color;
				    content: "";

					/* Medium Up */
					@media only screen and (min-width: 555px) {
						width: 100%;
					}

					/* Medium Only */
					@media only screen and (min-width: 467px) and (max-width: 554px) {
						width: 169%;
					}



				  }
				}
			}
			h2 {
				margin-top: 3%;
			}
			h3 {
				margin-top: 3%;
				font-weight: 200;
				color: $white;
				margin-bottom: 50px;
				span {
				  position: relative;
				  padding-bottom: 5px;
				  &:after {
				    position: absolute;
				    left: 0;
				    bottom: 0;
				    width: 100%;
				    height: 1px;
				    border-bottom: 2px solid $white;
				    content: "";
				  }
				  &:before {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 1px;
				    border-top: 1px solid $white;
				    content: "";
				  }
				}
			}



			img.profile-pic {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
				border-radius: 50%;
				border: solid 3px lighten($secondary-color, 20%);

			}

			a {
				color: $white;
				i.fa {
					margin: 0 15px;
					font-size: 30px;
				}

				&.ctwd-website {
					border-bottom: solid 1px $white;
				}
			}

			p {
				margin-top: 125px;
				font-size: 14px;
			}

		}

	}
}

