<section class="overlay">
<div class="row">
  <div class="large-9 columns large-centered hero-content">
    <h1><span>The Mountain & The Mustard Seed</span></h1>
    <img class="profile-pic" src="../assets/img/petesoule-profile.jpg" alt="Pete Soule Profile">
    <h2>Website Coming Soon</h2>
	<div class="social">
		<a href="https://www.facebook.com/pete.soule.9" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
		<a href="https://twitter.com/pcsoule" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	</div>

	<h3><span>PeteSoule.com</span></h3>

	<p>@2016 Copyright. All Right Reserved. <br/> Website Design By: <a class="ctwd-website" href="http://ctwebdesignshop.com/" target="_blank">CT Web design Shop LLC</a></p>
  </div>
</div>
</section>
